
.escondido {
    padding: 40px;
    color: black;
    margin-top: 350px;
    font-family: 'Space Mono', monospace;
    margin-left: 400px;
    animation-name: mover;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#c_transparente {

    margin-top: auto;
    padding: 50px;


}

a {
    text-decoration: none;
    cursor: default;
    color: black;
}

.uno {
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
}

.dos {
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
}

.tres {
    margin-top: 60px;
    margin-left: 300px;
    position: absolute;
}

.centrar {
    display: flex;
    justify-content: space-around;
}

.pista {
    max-width: 500px;

}

.centrar2 {
    margin-top: 35px;
    width: fit-content;
    margin-right: 50px;
    margin-left: 400px;

}