/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Paleta de colores: lime / negro / blanco */


body {
    background-color: black!important;
    color: lime!important;
    font-family: 'Space Mono', monospace!important;
    margin: 0;
    height: 100%;

}

button, a {
    padding: 10px!important;
    background: lime!important;
    outline: none!important;
    border-radius: 10px!important;
    border: 1px solid white!important;
    color: black!important;
}

#matrix {
    z-index: -100;
    position: absolute;
}

div.init {
    background-color: rgba(0,0,0,0.8);
    min-height: 400px;
    padding:10%;
    margin: 10%;
}

