/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    text-align: center;
    }
    
    body{
     background-color: black;
     color: white;
 
    }

    h1{
    margin: 2;
    margin-bottom: 20px;
    }

    h4{
    margin: 10;
    }

    p{
        margin-bottom: 15px;
    }

    .pistas{
        color: black;
        background-color: lime;
    }

    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15%;
    height: 100%;
    }

    input {
    padding: 10px;
    border-radius: 3px;
    }

    .letra{           
    padding: 4px;
    border-radius: 3px; 
    width: 15px;
    }

    .eleccion{
        display: flex;
        justify-content: space-evenly;
        width: 200px;
    }

    button {
        padding: 10px;
        background: lime;
        outline: none;
        border-radius: 10px;
        border: 1px solid white;
        color: black;
    }

    #response {
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
    background-color: rgb(255, 255, 254);
    }

    #alertaRoja{
    margin-top: 50px;
    font-size: 20px;
    text-align: ce0nter;
    background-color: #f36740;
    font-style: italic;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    }

    .slider{
        position: relative;
        top:0px;
        margin: 0px;
        padding:0px;
        width: 100%;
        height: 16%;
        overflow:hidden;
    }

    .divLetras{
    display:flex;
    flex-direction: row-reverse;
    }
    
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }
