
input {
  display:block;
  margin: 20px 0 40px 0;
}

h1 {
  margin:0px;
}

#contenedor {
  background-image: url("img/perro.png");
  background-size: cover;
  padding: 50px;
}

.pistas {
  color: lime;
  /*background-image: linear-gradient(135deg, rgb(18, 19, 18), rgb(2, 75, 2), #080808, #2f543a);*/
  background-color: rgba(256, 256, 256, 0.3);
  padding: 20px;
}

.pistas p {
  margin-left: 20px;
}

.texto {
  display: flex;
  color: rgb(10, 10, 10);
  text-align: center;
  margin: 100px 0;
  font-size: 20px;
}
